name: First Workflow
on:
  push:
    branches: 
      - main

jobs:
  example-job:
    runs-on: ubuntu-latest
    steps:
      - name: print a welcome message
        run: echo "welcome to our Github actions workflow!"
      - name: Checkut Repositery
        uses: actions/checkout@v6.0.2
      - name: List Repositery files
        run: ls -la
        
        
        
     
        
  
      
      
